.body {
  
  width: 100%;
  height: 100vh;
  overflow-y: overlay;
  flex: 1;
  color: white;
padding: 30px;
  background-color: rgb(21, 20, 28);
}

.body-artist {
  
  width: 100%;
  height: 100vh;
 
  flex: 1;
  color: white;

  background-color: rgb(21, 20, 28);
}

.body::-webkit-scrollbar {
  display: none;
}



.body__info_artists{
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  height:300px;
  background-color: #191a1a;
}

.body__shuffle {
  font-size: 80px !important;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.body__icons {
  display: flex;
  align-items: center;
}

.body__icons > .MuiSvgIcon-root {
  margin-right: 20px;
}

.body__shuffle:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.08);
}

.body__background {
  position: absolute;
  top: 13vh;
  right: 0;
  opacity: 0.4;
  height: 80%;
  width: 80%;
  background-color: black;
}

.body__songs {
  z-index: 1;
  margin: 20px -30px;
}
.body__songs_artists {
  z-index: 1;
  padding-bottom: 100px;

}

.body__infoText_artist {

  flex: 1;
position:absolute;
top: 30%;
left: 10px;
}

.body__infoText_artist > h2 {
  font-size: 48px;
  margin-bottom: 10px;
  word-wrap:break-word;
  word-break: break-all;
}

.body__infoText_artist > p {
  font-size: 14px;
}

.body__infoText {
  flex: 1;
}





@media(min-width:230px)
{
  
  .body__info > img {
    height: 50vw;
    margin: 0 0px;
    width:100% ;
    object-fit: cover;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  }

  .body__info_artists > img{
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
    object-fit: cover;
  }
  .body__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: #191a1a;
  }


  .body__infoText > h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    word-wrap:break-word;
    word-break: break-all;
  }
  
  .body__infoText > p {
    font-size: 14px;
    text-align: center;
  }


}

@media(min-width:768px)
{
  .body__info > img {
    height: 35vw;
    margin: 0 0px;
    width: auto;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  }
  .body__info_artists > img{
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 0px;
    object-fit: cover;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  }
  .body__info {
    display: flex;
    align-items: flex-end;
    padding: 10px;
    flex-direction: row;
    background-color: #191a1a;
  }

  .body__infoText > h2 {
    font-size: 48px;
    margin-bottom: 10px;
    word-wrap:break-word;
    text-align:left;
    word-break: break-all;
  }
  
  .body__infoText > p {
    font-size: 14px;
    text-align:left;
  }
}

@media(min-width:1000px)
{
  .body__info > img {
    height: 20vw;
    
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  }
  .body__info_artists > img{
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 0px;
    object-fit: cover;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  }
  .body__info {
    display: flex;
    align-items: flex-end;
    padding: 10px;
    background-color: #191a1a;
  }

  .body__infoText > h2 {
    font-size: 48px;
    margin-bottom: 10px;
    word-wrap:break-word;
    word-break: break-all;
  }
  
  .body__infoText > p {
    font-size: 14px;
  }

}

@media(min-width:1300px)
{

  .body__info > img {
    height: 20vw;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  }
  .body__info_artists > img{
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 0px;
    object-fit: cover;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  }
  .body__info {
    display: flex;
    align-items: flex-end;
    padding: 10px;
    flex-direction: row;
    background-color: #191a1a;
  }

  .body__infoText > h2 {
    font-size: 48px;
    margin-bottom: 10px;
    word-wrap:break-word;
    word-break: break-all;
  }
  
  .body__infoText > p {
    font-size: 14px;
  }
}

@media(min-width:1650px)
{

  .body__info > img {
    height: 20vw;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  }
  .body__info_artists > img{
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 0px;
    object-fit: cover;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  }
  .body__info {
    display: flex;
    align-items: flex-end;
    padding: 10px;
    flex-direction: row;
    background-color: #191a1a;
  }

  .body__infoText > h2 {
    font-size: 48px;
    margin-bottom: 10px;
    word-wrap:break-word;
    word-break: break-all;
  }
  
  .body__infoText > p {
    font-size: 14px;
  }
}