.songRow {
  
  padding: 20px;
  display: flex;
  align-items: center;


  color: white;
}

.songRow:hover {
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
}


.songRoww {
 
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.songRoww:hover {
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
}
.songRow__info {
  margin-left: 20px;
}

.songRow__info > h1 {
  font-size: 16px;
}

.songRow__info > p {
  font-size: 14px;
  margin-top: 3px;
  color: gray;
}

.songRow__album {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 0.3rem;
}

.songRow__albumm {
  height: 200px;
  width: 100%;
  object-fit: cover;
  
}