.devv-row,
		.devv-row-content {
			position: relative
		}

		body {
			background-color: #f7f9ff;
			color: #000;
			font-family: Nunito, Arial, Helvetica Neue, Helvetica, sans-serif
		}

		a {
			color: #0068a5
		}

		* {
			box-sizing: border-box
		}

		body,
		h1,
		h2,
		h3,
		p {
			margin: 0
		}

		.devv-row-content {
			max-width: 1280px;
			margin: 0 auto;
			display: flex
		}

		.devv-row-content.reverse,
		.devv-row-content.reverse .devv-col {
			-moz-transform: scale(1, -1);
			-webkit-transform: scale(1, -1);
			-o-transform: scale(1, -1);
			-ms-transform: scale(1, -1);
			transform: scale(1, -1)
		}

		.devv-row-content .devv-col-w2 {
			flex-basis: 17%
		}

		.devv-row-content .devv-col-w3 {
			flex-basis: 25%
		}

		.devv-row-content .devv-col-w5 {
			flex-basis: 42%
		}

		.devv-row-content .devv-col-w6 {
			flex-basis: 50%
		}

		.devv-row-content .devv-col-w7 {
			flex-basis: 58%
		}

		.devv-row-content .devv-col-w12 {
			flex-basis: 100%
		}

		.devv-button .content {
			text-align: center
		}

		.devv-button a,
		.devv-icon .devv-icon-label-right a {
			text-decoration: none
		}

		.devv-image {
			overflow: auto
		}

		.devv-image .devv-center {
			margin: 0 auto
		}

		.devv-row-3 .devv-col-2 .devv-block-1,
		.devv-row-8 .devv-col-1 .devv-block-1,
		.devv-row-8 .devv-col-2 .devv-block-1,
		.devv-row-8 .devv-col-3 .devv-block-1 {
			width: 100%
		}

		.devv-icon {
			display: inline-block;
			vertical-align: middle
		}

		.devv-icon .devv-content {
			display: flex;
			align-items: center
		}

		.devv-image img {
			display: block;
			width: 100%
		}

		.devv-paragraph {
			overflow-wrap: anywhere
		}

		.devv-row-1,
		.devv-row-2,
		.devv-row-3,
		.devv-row-4,
		.devv-row-5,
		.devv-row-6,
		.devv-row-7,
		.devv-row-8,
		.devv-row-9 {
			background-color: #fff;
			background-repeat: no-repeat
		}

		.devv-row-1 .devv-row-content,
		.devv-row-2 .devv-row-content,
		.devv-row-3 .devv-row-content,
		.devv-row-4 .devv-row-content,
		.devv-row-5 .devv-row-content,
		.devv-row-6 .devv-row-content,
		.devv-row-7 .devv-row-content,
		.devv-row-8 .devv-row-content,
		.devv-row-9 .devv-row-content {
			background-color: #fff;
			background-repeat: no-repeat;
			color: #000
		}

		.devv-row-1 .devv-col-1,
		.devv-row-10 .devv-col-1,
		.devv-row-11 .devv-col-2,
		.devv-row-11 .devv-col-3,
		.devv-row-11 .devv-col-4,
		.devv-row-12 .devv-col-1,
		.devv-row-13 .devv-col-1,
		.devv-row-2 .devv-col-1,
		.devv-row-3 .devv-col-2,
		.devv-row-4 .devv-col-1,
		.devv-row-5 .devv-col-1,
		.devv-row-5 .devv-col-2,
		.devv-row-6 .devv-col-1,
		.devv-row-8 .devv-col-1,
		.devv-row-8 .devv-col-2,
		.devv-row-8 .devv-col-3,
		.devv-row-8 .devv-col-4,
		.devv-row-9 .devv-col-1 {
			padding-bottom: 5px;
			padding-top: 5px
		}

		.devv-row-11 .devv-col-1,
		.devv-row-3 .devv-col-1 {
			padding: 5px 25px 5px 20px
		}

		.devv-row-3 .devv-col-1 .devv-block-2,
		.devv-row-5 .devv-col-2 .devv-block-2,
		.devv-row-8 .devv-col-1 .devv-block-2,
		.devv-row-8 .devv-col-2 .devv-block-2,
		.devv-row-8 .devv-col-3 .devv-block-2 {
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 10px;
			text-align: center;
			width: 100%
		}

		.devv-row-3 .devv-col-1 .devv-block-3 {
			padding-top: 10px;
			text-align: center;
			width: 100%
		}

		.devv-row-3 .devv-col-1 .devv-block-4 {
			padding-bottom: 10px;
			padding-top: 10px
		}

		.devv-row-3 .devv-col-1 .devv-block-5 {
			padding-bottom: 10px;
			padding-top: 10px;
			text-align: center
		}

		.devv-row-5 .devv-col-1 .devv-block-1 {
			padding-top: 25px;
			width: 100%
		}

		.devv-row-5 .devv-col-2 .devv-block-1 {
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 20px;
			text-align: center;
			width: 100%
		}

		.devv-row-5 .devv-col-2 .devv-block-3,
		.devv-row-7 .devv-col-1 .devv-block-2 {
			padding: 10px 20px
		}

		.devv-row-5 .devv-col-2 .devv-block-4 {
			padding: 10px 20px 35px;
			text-align: center
		}

		.devv-row-11 .devv-col-3 .devv-block-1,
		.devv-row-11 .devv-col-4 .devv-block-1,
		.devv-row-7 .devv-col-1 .devv-block-1 {
			padding-left: 20px;
			text-align: center;
			width: 100%
		}

		.devv-row-7 .devv-col-1 {
			padding: 5px
		}

		.devv-row-7 .devv-col-1 .devv-block-1 {
			padding-right: 20px
		}

		.devv-row-10,
		.devv-row-11,
		.devv-row-12 {
			background-color: black;
			background-repeat: no-repeat
		}

		.devv-row-10 .devv-row-content,
		.devv-row-11 .devv-row-content,
		.devv-row-12 .devv-row-content {
			background-color: black;
			background-repeat: no-repeat;
			color: #000
		}

		.devv-row-11 .devv-col-3 .devv-block-2,
		.devv-row-11 .devv-col-4 .devv-block-2 {
			text-align: left
		}

		.devv-row-13 {
			background-repeat: no-repeat
		}

		.devv-row-13 .devv-row-content {
			background-repeat: no-repeat;
			color: #000
		}

		.devv-row-13 .devv-col-1 .devv-block-1 {
			color: #9d9d9d;
			font-family: inherit;
			font-size: 15px;
			padding-bottom: 5px;
			padding-top: 5px;
			text-align: center
		}

		.devv-row-3 .devv-col-1 .devv-block-4,
		.devv-row-7 .devv-col-1 .devv-block-2 {
			color: #5f6070;
			direction: ltr;
			font-size: 17px;
			font-weight: 400;
			letter-spacing: 0;
			line-height: 150%;
			text-align: center
		}

		.devv-row-3 .devv-col-1 .devv-block-4 a,
		.devv-row-5 .devv-col-2 .devv-block-3 a,
		.devv-row-7 .devv-col-1 .devv-block-2 a {
			color: #8a3b8f
		}

		.devv-row-3 .devv-col-1 .devv-block-4 p:not(:last-child),
		.devv-row-5 .devv-col-2 .devv-block-3 p:not(:last-child) {
			margin-bottom: 0
		}

		.devv-row-5 .devv-col-2 .devv-block-3 {
			color: #5f6070;
			direction: ltr;
			font-size: 17px;
			font-weight: 400;
			letter-spacing: 0;
			line-height: 120%;
			text-align: center
		}

		.devv-row-8 .devv-col-1 .devv-block-3,
		.devv-row-8 .devv-col-2 .devv-block-3,
		.devv-row-8 .devv-col-3 .devv-block-3,
		.devv-row-9 .devv-col-1 .devv-block-1 {
			color: #101112;
			font-size: 16px;
			font-weight: 400;
			line-height: 120%;
			text-align: center;
			direction: ltr;
			letter-spacing: 0
		}

		.devv-row-7 .devv-col-1 .devv-block-2 p:not(:last-child),
		.devv-row-8 .devv-col-1 .devv-block-3 p:not(:last-child),
		.devv-row-8 .devv-col-2 .devv-block-3 p:not(:last-child),
		.devv-row-8 .devv-col-3 .devv-block-3 p:not(:last-child),
		.devv-row-9 .devv-col-1 .devv-block-1 p:not(:last-child) {
			margin-bottom: 16px
		}

		@media (max-width:768px) {
			.devv-row-content:not(.no_stack) {
				display: block
			}

			.devv-row-3 .devv-col-1 .devv-block-3 h1 {
				font-size: 62px !important
			}

			.devv-row-8 .devv-col-1 .devv-block-1 img {
				float: none !important;
				margin: 0 auto !important
			}
		}

		.devv-row-8 .devv-col-1 .devv-block-3 a,
		.devv-row-8 .devv-col-2 .devv-block-3 a,
		.devv-row-8 .devv-col-3 .devv-block-3 a,
		.devv-row-9 .devv-col-1 .devv-block-1 a {
			color: #8a3c90
		}

		.devv-row-13 .devv-col-1 .devv-block-1 .devv-icon-image {
			padding: 5px 6px 5px 5px
		}