*{
    box-sizing: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito, Arial, Helvetica Neue, Helvetica, sans-serif

}
body{
    font-family: Nunito, Arial, Helvetica Neue, Helvetica, sans-serif
}

.navbar {
    width: 100%;
    height: 60px;
   
    display: flex;
    
    position: sticky;
    top: 0px;

    flex-direction: row;
    z-index: 100;
}



.my-modal{
width: 100%;
max-width: 100%;
height: 100%;
margin: 0px;
padding: 0px;

}
.fa{
    font-size: 25px;
    padding: 10px;
   
}

.my-modall{
    
    height: 100%;
   
    
    
    }


 .leftContainer {
    height: 40px;
    display: flex;
    align-self: start;
    align-items: center;
    flex-direction: row;
    float: left;
}



@media(min-width:230px)
{
    .logo {
        width: 45px;
       
      
    }

.arrow{
    display: block;
}
    
    .navtop{
        display: flex;
        align-items: center;

    }

    .font{

        font-size: 20px;
        font-weight: 800;
    }

.FontsHeader{
    font-size: 12px;
    font-weight: 600;
    display: none;
}

    .middleContainer {
        height: 20px;
        position:absolute;
        left:30%;
        display: flex;
        align-items: center;
        flex-direction: row;
       
        align-self: center;
        
        
    }

   .leftContainer > .fa{
        font-size: 25px;
        padding: 10px;
        display:inline-block !important;
    }

    .navbar a {
        font-size: 15px;
        margin: 5px;
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

}

@media (min-width:768px) {
    .logo {
        width: 45px;
       
      
    }

.arrow{
    display: none;
}
    
    .navtop{
        display: flex;
        align-items: center;

    }

    .font{

        font-size: 20px;
        font-weight: 800;
    }

.FontsHeader{
    font-size: 12px;
    font-weight: 600;
    display: none;
}

    .middleContainer {
        height: 20px;
        position:absolute;
        left:30%;
        display: flex;
        align-items: center;
        flex-direction: row;
       
        align-self: center;
        
        
    }

    .leftContainer >  .fa{
        font-size: 25px;
        padding: 10px;
        display: none !important;
    }

    .navbar a {
        font-size: 15px;
        margin: 5px;
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

  }

 

  @media (min-width:1000px) {
  
    .logo {
      
        width: 45px;
      
    }

    .arrow{
        display: none;
    }

   

    .font{

        font-size: 20px;
        font-weight: 800;
    }


    .FontsHeader{
        font-size: 12px;
        font-weight: 600; 
    }

    

    .navtop{
        display: none;
        align-items: center;

    }
    .navbar a {
        font-size: 15px;
        margin: 5px;
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .middleContainer {
        height: 20px;
        position:absolute;
        left:30%;
        display: flex;
        align-items: center;
        flex-direction: row;
       
        align-self: center;
        
        
    }
    
    .leftContainer > .fa{
        font-size: 25px;
        padding: 10px;
        display: none !important;
    }

  }

  @media (min-width:1000px) {

    .navbar a {
        font-size: 15px;
        margin: 5px;
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
   
   
    .navtop{
        display: flex;
        align-items: center;

    }
    .leftContainer > .fa{
        font-size: 25px;
        padding: 10px;
        display: none !important;
    }

    .logo {
        width: 45px;
       
      
    }
    .arrow{
        display: none;
    }
   

.font{

    font-size: 30px;
    font-weight: 800;
}

.FontsHeader{
    font-size: 12px;
    font-weight: 600; 
}
    
    

    .middleContainer {
        height: 20px;
        position:absolute;
        left:45%;
        display: flex;
        align-items: center;
        flex-direction: row;
       
        align-self: center;
        
        
    }

}



 .rightContainer {
    height: 40px;
    display: flex;
    align-items: center;
    
    float: right;
    flex-direction: row;
}

